.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Asegura que esté sobre todo */
}

.modal {
    background-color: rgb(24, 134, 168);
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    z-index: 1001;
    width: 400px;
    height: 230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

label{
    display: block;
    width: 100%;
}

input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

h2{
    margin: 20px 0px;
}

.button {
    margin-top: 10px;
    position: fixed;
    height: 30px;
    width: 30px;
    align-self: flex-end;
    background: none;
    border: none;
    margin-right: 10px;
    font-size: 15px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    box-shadow: 2px 2px 3px black;
}